html,
body {
  padding: 0;
  margin: 0;
  color: var(--color-fore-primary);
  background-color: var(--color-back-primary);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --color-fore-primary: #555555;
  --color-fore-accent: #3f4238;

  --color-back-primary: #f3f3f3;
  --color-back-accent: #ffe8d6;
}

@layer base {
  .f2 {
    @apply text-[32px] md:text-[48px] tracking-[2px] leading-[1.3rem] my-[10px];
  }
  .f3 {
    @apply text-[24px] tracking-[2px] leading-[40px] my-[10px];
  }
}
@layer components {
  .nav-item {
    @apply text-sm uppercase tracking-wider md:tracking-wide md:hover:text-slate-900 transition-colors py-3 md:py-0 md:border-0;
  }
}

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
